* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 30px solid black;
  position: absolute;
  height: 400px;
  width: 400px;
  box-shadow: -9px 8px 6px 2px rgb(0 0 0 / 54%);
}
